/*GLOBAL*/
html {
    font-size: 62.5%;
}

body {
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    width: 100%;
    font-size: 18px;
    font-weight: 300;
    line-height: 25px;
    background-color: #fff;
    color: #010101;
}

header {
    width: 100%;
    height: 100px;
    padding-top: 30px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: #fff;
    color: #414141;
}

.favicon_bigscreen {
    display: none;
}

.portrait_img_big_screen {
    display: none;
}

.nom_artiste {
    padding-left: 15px;
}

.icon_menu {
    position: fixed;
    top: 20px;
    right: 10px;
    z-index: 999;
    cursor: pointer;
    color: #9c9c9c;
}

.nom_artiste h1 {
    font-family: 'Gelasio', serif;
    letter-spacing: 0.08em;
    font-size: 19px;
    color: #010101;
}

.nom_artiste h2 {
    font-size: 15px;
    font-style: italic;
}

.menu-bigscreen {
    display: none;
}

.picture_name_bigscreen {
    display: none;
}

.menu-deroulant {
    position: fixed;
    top: 100px;
    left: 0;
    width: 100%;
    height: 0;
    overflow: hidden;
    transition: all ease-in 0.2s;
    display: flex;
    flex-direction: column;
    text-align: center;
}

.menu-deroulant.open {
    height: 260px;
    padding: 20px 0;
    z-index: 999;
    background-color: #9c9c9c;
    transition: all ease-in 0.2s;
}

.menu-deroulant a {
    padding: 10px 0;
    color: white;
    text-transform: uppercase;
    font-size: 14px;
    letter-spacing: 0.5em;
}

.menu-deroulant a:hover {
    background-color: #d5d5d5;
    color: #fff;
}

/*MAIN*/
#biographie h2,
#scene h2,
#photos h2,
#contact h2 {
    text-align: center;
    color: #414141;
    text-transform: uppercase;
    font-size: 12px;
    letter-spacing: 0.5em;
    cursor: pointer;
    padding-top: 50px;
    padding-bottom: 15px;
}

#biographie h3 {
    text-align: center;
    font-weight: 700;
    font-size: 25px;
    font-family: 'Gelasio', serif;
    padding-top: 15px;
    padding-bottom: 10px;
}

/*slider with pagination*/
.swiper-container {
    width: 100%;
    height: 100%;
}

.swiper-slide {
    text-align: justify;
    font-size: 18px;
    background: #fff;
    padding: 40px 50px 40px 50px;
}

.swiper-pagination {
    color: black;
}

.swiper-button-next,
.swiper-button-prev {
    color: #414141;
}

/*button hidden scene theatre content*/
.button a,
.button_close a {
    background-color: #efefef;
    color: black;
}

.button a:hover,
.button_close a:hover {
    background-color: #aaaaaa;
    color: #fff;
}

.button,
.button_close {
    padding: 50px 0;
    font-weight: 600;
}

/*scene*/
.scene_content_hidden {
    width: 100%;
    height: 0;
    overflow: hidden;
    transition: all ease-out 0.2s;
}

.scene_content_hidden.open {
    height: auto;
    transition: all ease-out 0.2s;
}

#scene,
#contact {
    text-align: center;
    margin-top: 20px;
    background-color: black;
    color: #fff;
}

#scene h2 {
    color: #fff;
}

#scene h3 {
    font-family: 'Gelasio', serif;
    font-size: 21px;
    font-weight: 400;
    padding-top: 50px;
    padding-bottom: 40px;
    color: #adadad;
}

.scene .scene_date,
.theatre .theatre_date {
    font-size: 14px;
    text-transform: uppercase;
    letter-spacing: 2px;
    color: #f5f5f5;
}

.scene .scene_info,
.theatre .theatre_info {
    padding-top: 20px;
    padding-bottom: 10px;
    font-size: 18px;
    color: #f5f5f5;
}

.scene .scene_place,
.theatre .theatre_place {
    font-style: italic;
    font-size: 16px;
}

#scene .border {
    border: solid 0.8px #414141;
    width: 70%;
    margin: 30px auto;
}

.last_theatre {
    padding-bottom: 50px;
}

#photos {
    padding-top: 15px;
}

/*gallery_picture*/
.gallery_picture {
    margin-top: 20px;
    text-align: center;
}

.gallery_content {
    margin: 0 20px;
}

.picture {
    margin: 10px 0;
    max-width: 100%;
    height: auto;
}

/*contact*/
#contact {
    background-color: white;
    color: #414141;
}

#contact h3,
#contact h4 {
    font-family: 'Gelasio', serif;
    font-size: 21px;
    font-weight: 400;
    padding-top: 45px;
}

#contact h4 {
    font-style: italic;
    padding-top: 30px;
}

#contact .adress {
    padding-top: 40px;
    padding-bottom: 60px;
}

#contact div {
    padding: 2px;
}

.form-contact {
    background-color: #d5d5d5;
}

.form-contact h3 {
    padding-bottom: 40px;
}

.form-contact .waves-effect {

    background-color: #414141;
    color: #efefef;
}

.form-contact .waves-effect:hover {
    background-color: black;
    color: #fff;
}

.form-contact .input-field i.active {
    color: black;
}

.form-contact .input-field .comments {
    font-style: italic;
    font-size: 18px;
    color: red;
}

input:not([type]):focus:not([readonly]),
input[type="text"]:not(.browser-default):focus:not([readonly]),
input[type="password"]:not(.browser-default):focus:not([readonly]),
input[type="email"]:not(.browser-default):focus:not([readonly]),
input[type="url"]:not(.browser-default):focus:not([readonly]),
input[type="time"]:not(.browser-default):focus:not([readonly]),
input[type="date"]:not(.browser-default):focus:not([readonly]),
input[type="datetime"]:not(.browser-default):focus:not([readonly]),
input[type="datetime-local"]:not(.browser-default):focus:not([readonly]),
input[type="tel"]:not(.browser-default):focus:not([readonly]),
input[type="number"]:not(.browser-default):focus:not([readonly]),
input[type="search"]:not(.browser-default):focus:not([readonly]),
textarea.materialize-textarea:focus:not([readonly]) {
    border-bottom: 1px solid black;
    -webkit-box-shadow: 0 1px 0 0 black;
    box-shadow: 0 1px 0 0 black;
}

.form-contact .input-field label.active {
    color: black !important;
}

.thank-you {
    background-color: #d5d5d5;
    font-style: italic;
    padding-top: 30px;
    padding-bottom: 25px;
}

/*FOOTER*/
footer {
    font-size: 14px;
    text-align: center;
    background-color: #414141;
    color: #fff;
    padding: 20px 0;
}

footer a {
    color: #fff;
    cursor: pointer;
    font-size: 14px;
}

.favicon {
    padding-bottom: 10px;
}

.favicon a {
    font-size: 30px;
    padding-right: 5px;
}

.nom_footer span {
    text-decoration: underline;
}

/* MEDIA QUERIES */
@media screen and (min-width: 1000px) {

    .icon_menu {
        display: none;
    }

    .menu-deroulant {
        display: none;
    }

    .portrait_img {
        display: none;
    }

    .nom_artiste {
        display: none;
    }

    header {
        position: fixed;
        display: block;
        z-index: 999;
        height: 80px;
    }

    .nav_bigscreen {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    .menu-bigscreen,
    .nom_artiste_bigscreen,
    .portrait_img_big_screen {
        display: block;
    }

    .menu-bigscreen,
    .nom_artiste_bigscreen {
        padding-left: 50px;
    }

    .menu-bigscreen a {
        display: inline-block;
        padding-right: 30px;
        text-transform: uppercase;
        font-size: 12px;
        letter-spacing: 0.5em;
        color: black;
    }

    .menu-bigscreen a:after {
        content: "";
        /* This is necessary for the pseudo element to work. */
        display: block;
        /* This will put the pseudo element on its own line. */
        margin: 0 0px;
        /* This will center the border. */
        width: 0%;
        /* Change this to whatever width you want. */
        padding-top: 10px;
        /* This creates some space between the element and the border. */
        border-bottom: 2px solid black;
        /* This creates the border. Replace black with whatever color you want. */
        transition: all 0.4s ease-out;
    }

    .menu-bigscreen a:hover:after,
    .menu-bigscreen a.active:after {
        width: 100%;
    }

    .picture_name_bigscreen {
        display: flex;
        flex-direction: row;
        padding-top: 150px;
    }

    .nom_artiste_bigscreen {
        width: 80%;
        padding-top: 50px;
        font-family: 'Gelasio', serif;
        letter-spacing: 0.08em;
        color: #010101;
    }

    .nom_artiste_bigscreen h1 {
        font-size: 50px;
    }

    .nom_artiste_bigscreen h2 {
        font-style: italic;
        padding-top: 20px;
        font-size: 22px;
    }

    .portrait_img_big_screen {
        width: 800px;
        height: auto;
        padding-right: 50px;
    }

    .favicon_bigscreen {
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
        padding-right: 10px;
        color: black;
    }

    .favicon_bigscreen h3 {
        padding-right: 15px;
        font-family: 'Gelasio', serif;
        letter-spacing: 0.08em;
        color: black;
    }

    .favicon_bigscreen a {
        font-size: 25px;
        padding-right: 10px;
        color: #010101;
    }

    .favicon_bigscreen a:hover {
        color: #adadad;
    }

    #biographie,
    #photos {
        padding-top: 60px;
    }

    #scene {
        padding-top: 40px;
    }

    #contact {
        padding-top: 30px;
    }

    #biographie {
        padding-bottom: 30px;
    }

    #biographie h2,
    #scene h2,
    #photos h2,
    #contact h2 {
        font-size: 14px;
    }

    #biographie h2:hover,
    #scene h2:hover,
    #photos h2:hover,
    #contact h2:hover {
        color: #adadad;
    }

    #biographie h2 {
        padding-bottom: 50px;
    }

}